<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RPi Status Monitor</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}"/>
</head>
<body>

    <div class="container">
		<div class="grid-container">
			<div class="top-left">
				<div>
					<div id="temperature-text" class="temperature-text"></div> 
					<div id="weather-city" class="weather-city"></div>
				</div>
			</div>
			
			<div class="top-right">
				<div>
					<div id="date-string" class="date-string"></div>
					<div id="year-string" class="year-string"></div>
				</div>
			</div>
			
			<div class="center">
				<div class="center-inner">
					<div id="time-text" class="time-text"></div>
					<div id="quote" class="quote"></div>
				</div>
			</div>
			
			<div class="bottom-left">
				<div>
					<div id="upload" class="network"></div>
					<div id="download" class="network"></div>
				</div>
			</div>
			
			<div class="bottom-right">
				<div>
					<div id="cpu" class="system"></div>
					<div id="ram" class="system"></div>
				</div>
			</div>
		</div>
    </div>
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
