body {
	font-size: 100%;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.container {
	background-color: #000;
	width: 100vw;
	height: 100vh;
}

.grid-container {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-rows: 20% 60% 20%;
	grid-template-columns: 20% 60% 20%;
}

.top-left {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.top-right {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.bottom-left {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.bottom-right {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.center {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.time-text {
	font-size: 5rem;
}

.temperature-text {
	font-size: 3rem;
}

.weather-text {
	font-size: 2rem;
}

.date-string {
	font-size: 2rem;
}

.year-string {
	font-size: 1.5rem;
}

.network {
	font-size: 2rem;
}

.system { 
	font-size: 2rem;
}
